@section Styles
{
	<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />

}
FUEN 全端班首頁(FUEN)

<a asp-controller="Home" asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-house-chimney"></i>首頁</a>